/* base ***********************************************************************/
html,
body {
  background: #A0A8BD url(../concrete_seamless.png) repeat;
  color: #3A3D42;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.538;
  min-height: 100%;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* mobile *********************************************************************/
.mobile {
  background: #4FC1E9;
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
       -o-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  left: 0;
  margin: 0 auto;
  min-height: 100%;
  overflow: visible;
  padding-bottom: 20px;
  position: absolute;
  right: 0;
  width: 300px;
  top: 0;
}

.mobile-view {
  position: relative;
  overflow-x: hidden;
}

/* mainHeader *****************************************************************/
.mainHeader {
  background: rgb(151, 214, 237);
  -webkit-box-shadow: 0px 0 2px 1px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0px 0 2px 1px rgba(0, 0, 0, 0.3);
       -o-box-shadow: 0px 0 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0 2px 1px rgba(0, 0, 0, 0.3);
  padding: 40px 0;
  margin: 20px 0 20px -2%;
  width: 104%;
}

/* logo ***********************************************************************/
.logo {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  background-color: rgb(67, 96, 105);
  border-radius: 75px;
  height: 150px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.logo-img {
  margin-top: 27px;
}

/* pageTitle ******************************************************************/
.pageTitle {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

/* button *********************************************************************/
.button {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  white-space: nowrap;
}

.button--primary {
  background-color: rgb(51, 122, 183);
  border-color: rgb(46, 109, 164);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 13px 0;
  width: 100%;
}

.button--primary:hover {
  background-color: rgb(40, 96, 144);
  border-color: rgb(32, 77, 116);
  color: rgb(255, 255, 255);
}

/* navList ********************************************************************/
.navList {
  margin: 40px 40px 0 40px;
  text-align: center;
}

.navList-item {
  margin: 10px 0;
}

/* pageHeader *****************************************************************/
.pageHeader {
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 15px;
}

.pageHeader--secondaryItem {
  cursor: pointer;
  font-size: 10px;
  float: right;
  line-height: 30px;
}

/* anim_slideLeft *************************************************************/
.anim_slideLeft-enter {
  opacity: 0;
  position: relative;
  right: -100%;
  -webkit-transition: opacity 0.4s ease-in;
     -moz-transition: opacity 0.4s ease-in;
      -ms-transition: opacity 0.4s ease-in;
          transition: opacity 0.4s ease-in;
  -webkit-transition: right 0.4s ease-in;
     -moz-transition: right 0.4s ease-in;
      -ms-transition: right 0.4s ease-in;
      transition: right 0.4s ease-in;
}

.anim_slideLeft-enter-active {
  opacity: 1;
  right: 0;
}

.anim_slideLeft-leave {
  position: relative;
  opacity: 1;
  left: 0;
  -webkit-transition: opacity 0.4s ease-in;
     -moz-transition: opacity 0.4s ease-in;
      -ms-transition: opacity 0.4s ease-in;
          transition: opacity 0.4s ease-in;
  -webkit-transition: left 0.4s ease-in;
     -moz-transition: left 0.4s ease-in;
      -ms-transition: left 0.4s ease-in;
          transition: left 0.4s ease-in;
}

.anim_slideLeft-leave-active {
  opacity: 0;
  left: -100%;
}
